@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-sans: var(--font-geist-sans);
}

@import "./components/lightswind.css";



/* @font-face {
    font-family: "Geist Sans";
    src: url("../node_modules/@vercel/fonts/geist-sans/GeistSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Geist Sans";
    src: url("../node_modules/@vercel/fonts/geist-sans/GeistSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Geist Sans";
    src: url("../node_modules/@vercel/fonts/geist-sans/GeistSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
} */


* {
    font-family: "Geist Sans", sans-serif !important;
}




/* Custom Card Component Styling */
.custom-card {
    border-radius: var(--radius);
    /* Using CSS variable for radius */
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* shadow-lg */
    padding: 1.5rem;
    /* spacing.6 */
    background-color: hsl(var(--card));
    /* Use card background color */
    border: 1px solid hsl(var(--border));
    /* Use border color */
}










@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: inline-flex;
    animation: marquee 16s linear infinite;
}