@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-sans: var(--font-geist-sans);
}

@import "./components/lightswind.css";



/* @font-face {
    font-family: "Geist Sans";
    src: url("../node_modules/@vercel/fonts/geist-sans/GeistSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Geist Sans";
    src: url("../node_modules/@vercel/fonts/geist-sans/GeistSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Geist Sans";
    src: url("../node_modules/@vercel/fonts/geist-sans/GeistSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
} */




/* Animated Gradient Border Button Property and Animation */
/* @property MUST be defined at the global scope, not inside a rule */
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}


:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
}

/* Dark theme variables */
.dark {
    /* HSL values for theme colors in dark mode */
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

}
* {
    font-family: "Geist Sans", sans-serif !important;
}




/* Custom Card Component Styling */
.custom-card {
    border-radius: var(--radius);
    /* Using CSS variable for radius */
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* shadow-lg */
    padding: 1.5rem;
    /* spacing.6 */
    background-color: hsl(var(--card));
    /* Use card background color */
    border: 1px solid hsl(var(--border));
    /* Use border color */
}

/* Card Hover Effect */
.card-hover {
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transform: none;
}

.card-hover:hover {
    transform: scale(1.1);
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


/* Animated Gradient Border Button Styles */
.gradient-border {
    --border-angle: 0turn;
    background:
        /* conic-gradient(from var(--border-angle),from var(--gold), var(--gold)) padding-box, */
        conic-gradient(from var(--border-angle),#fff, #fff) padding-box,
        conic-gradient(from var(--border-angle),
            transparent 25%,
            #08f,
            rgb(1, 206, 46) 99%,
            transparent) border-box;
    animation: bg-spin 3s linear infinite;
    border: 2px solid transparent;
    background-origin: border-box;
}

.gradient-border:hover {
    animation-play-state: paused;
}








@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: inline-flex;
    animation: marquee 16s linear infinite;
}